 [class^="x-entypo-"]:before, [class*=" x-entypo-"]:before {
  @include entypo-class(); 

  /* 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
 
.x-entypo-note:before { content: '\e800'; }
.x-entypo-note-beamed:before { content: '\e801'; }
.x-entypo-music:before { content: '\e802'; } 
.x-entypo-search:before { content: '\e803'; } 
.x-entypo-flashlight:before { content: '\e804'; }
.x-entypo-mail:before { content: '\e805'; }
.x-entypo-heart:before { content: '\e806'; }
.x-entypo-heart-empty:before { content: '\e807'; } 
.x-entypo-star:before { content: '\e808'; } 
.x-entypo-star-empty:before { content: '\e809'; } 
.x-entypo-user:before { content: '\e80a'; } 
.x-entypo-users:before { content: '\e80b'; } 
.x-entypo-user-add:before { content: '\e80c'; } 
.x-entypo-video:before { content: '\e80d'; }
.x-entypo-picture:before { content: '\e80e'; } 
.x-entypo-camera:before { content: '\e80f'; } 
.x-entypo-layout:before { content: '\e810'; } 
.x-entypo-menu:before { content: '\e811'; } 
.x-entypo-check:before { content: '\e812'; } 
.x-entypo-cancel:before { content: '\e813'; } 
.x-entypo-cancel-circled:before { content: '\e814'; }
.x-entypo-cancel-squared:before { content: '\e815'; } 
.x-entypo-plus:before { content: '\e816'; }
.x-entypo-plus-circled:before { content: '\e817'; } 
.x-entypo-plus-squared:before { content: '\e818'; } 
.x-entypo-minus:before { content: '\e819'; } 
.x-entypo-minus-circled:before { content: '\e81a'; } 
.x-entypo-minus-squared:before { content: '\e81b'; } 
.x-entypo-help:before { content: '\e81c'; } 
.x-entypo-help-circled:before { content: '\e81d'; } 
.x-entypo-info:before { content: '\e81e'; } 
.x-entypo-info-circled:before { content: '\e81f'; } 
.x-entypo-back:before { content: '\e820'; } 
.x-entypo-home:before { content: '\e821'; } 
.x-entypo-link:before { content: '\e822'; } 
.x-entypo-attach:before { content: '\e823'; } 
.x-entypo-lock:before { content: '\e824'; } 
.x-entypo-lock-open:before { content: '\e825'; } 
.x-entypo-eye:before { content: '\e826'; } 
.x-entypo-tag:before { content: '\e827'; } 
.x-entypo-bookmark:before { content: '\e828'; } 
.x-entypo-bookmarks:before { content: '\e829'; } 
.x-entypo-flag:before { content: '\e82a'; } 
.x-entypo-thumbs-up:before { content: '\e82b'; } 
.x-entypo-thumbs-down:before { content: '\e82c'; } 
.x-entypo-download:before { content: '\e82d'; } 
.x-entypo-upload:before { content: '\e82e'; } 
.x-entypo-upload-cloud:before { content: '\e82f'; }
.x-entypo-reply:before { content: '\e830'; }
.x-entypo-reply-all:before { content: '\e831'; } 
.x-entypo-forward:before { content: '\e832'; } 
.x-entypo-quote:before { content: '\e833'; } 
.x-entypo-code:before { content: '\e834'; } 
.x-entypo-export:before { content: '\e835'; } 
.x-entypo-pencil:before { content: '\e836'; }
.x-entypo-feather:before { content: '\e837'; } 
.x-entypo-print:before { content: '\e838'; } 
.x-entypo-retweet:before { content: '\e839'; } 
.x-entypo-keyboard:before { content: '\e83a'; } 
.x-entypo-comment:before { content: '\e83b'; } 
.x-entypo-chat:before { content: '\e83c'; } 
.x-entypo-bell:before { content: '\e83d'; } 
.x-entypo-attention:before { content: '\e83e'; } 
.x-entypo-alert:before { content: '\e83f'; }
.x-entypo-vcard:before { content: '\e840'; }
.x-entypo-address:before { content: '\e841'; }
.x-entypo-location:before { content: '\e842'; }
.x-entypo-map:before { content: '\e843'; }
.x-entypo-direction:before { content: '\e844'; } 
.x-entypo-compass:before { content: '\e845'; }
.x-entypo-cup:before { content: '\e846'; } 
.x-entypo-trash:before { content: '\e847'; } 
.x-entypo-doc:before { content: '\e848'; } 
.x-entypo-docs:before { content: '\e849'; } 
.x-entypo-doc-landscape:before { content: '\e84a'; } 
.x-entypo-doc-text:before { content: '\e84b'; } 
.x-entypo-doc-text-inv:before { content: '\e84c'; } 
.x-entypo-newspaper:before { content: '\e84d'; } 
.x-entypo-book-open:before { content: '\e84e'; } 
.x-entypo-book:before { content: '\e84f'; }
.x-entypo-folder:before { content: '\e850'; } 
.x-entypo-archive:before { content: '\e851'; } 
.x-entypo-box:before { content: '\e852'; } 
.x-entypo-rss:before { content: '\e853'; } 
.x-entypo-phone:before { content: '\e854'; } 
.x-entypo-cog:before { content: '\e855'; } 
.x-entypo-tools:before { content: '\e856'; } 
.x-entypo-share:before { content: '\e857'; } 
.x-entypo-shareable:before { content: '\e858'; }
.x-entypo-basket:before { content: '\e859'; } 
.x-entypo-bag:before { content: '\e85a'; } 
.x-entypo-calendar:before { content: '\e85b'; }
.x-entypo-login:before { content: '\e85c'; }
.x-entypo-logout:before { content: '\e85d'; }
.x-entypo-mic:before { content: '\e85e'; }
.x-entypo-mute:before { content: '\e85f'; }
.x-entypo-sound:before { content: '\e860'; } 
.x-entypo-volume:before { content: '\e861'; } 
.x-entypo-clock:before { content: '\e862'; } 
.x-entypo-hourglass:before { content: '\e863'; } 
.x-entypo-lamp:before { content: '\e864'; } 
.x-entypo-light-down:before { content: '\e865'; } 
.x-entypo-light-up:before { content: '\e866'; } 
.x-entypo-adjust:before { content: '\e867'; } 
.x-entypo-block:before { content: '\e868'; } 
.x-entypo-resize-full:before { content: '\e869'; } 
.x-entypo-resize-small:before { content: '\e86a'; } 
.x-entypo-popup:before { content: '\e86b'; } 
.x-entypo-publish:before { content: '\e86c'; } 
.x-entypo-window:before { content: '\e86d'; } 
.x-entypo-arrow-combo:before { content: '\e86e'; } 
.x-entypo-down-circled:before { content: '\e86f'; } 
.x-entypo-left-circled:before { content: '\e870'; } 
.x-entypo-right-circled:before { content: '\e871'; } 
.x-entypo-up-circled:before { content: '\e872'; } 
.x-entypo-down-open:before { content: '\e873'; } 
.x-entypo-left-open:before { content: '\e874'; }
.x-entypo-right-open:before { content: '\e875'; }
.x-entypo-up-open:before { content: '\e876'; } 
.x-entypo-down-open-mini:before { content: '\e877'; }
.x-entypo-left-open-mini:before { content: '\e878'; } 
.x-entypo-right-open-mini:before { content: '\e879'; } 
.x-entypo-up-open-mini:before { content: '\e87a'; } 
.x-entypo-down-open-big:before { content: '\e87b'; } 
.x-entypo-left-open-big:before { content: '\e87c'; } 
.x-entypo-right-open-big:before { content: '\e87d'; }
.x-entypo-up-open-big:before { content: '\e87e'; }
.x-entypo-down:before { content: '\e87f'; }
.x-entypo-left:before { content: '\e880'; }
.x-entypo-right:before { content: '\e881'; }
.x-entypo-up:before { content: '\e882'; } 
.x-entypo-down-dir:before { content: '\e883'; }
.x-entypo-left-dir:before { content: '\e884'; } 
.x-entypo-right-dir:before { content: '\e885'; }
.x-entypo-up-dir:before { content: '\e886'; }
.x-entypo-down-bold:before { content: '\e887'; }
.x-entypo-left-bold:before { content: '\e888'; }
.x-entypo-right-bold:before { content: '\e889'; }
.x-entypo-up-bold:before { content: '\e88a'; }
.x-entypo-down-thin:before { content: '\e88b'; }
.x-entypo-left-thin:before { content: '\e88c'; }
.x-entypo-right-thin:before { content: '\e88d'; }
.x-entypo-up-thin:before { content: '\e88e'; }
.x-entypo-ccw:before { content: '\e88f'; }
.x-entypo-cw:before { content: '\e890'; }
.x-entypo-arrows-ccw:before { content: '\e891'; }
.x-entypo-level-down:before { content: '\e892'; }
.x-entypo-level-up:before { content: '\e893'; }
.x-entypo-shuffle:before { content: '\e894'; }
.x-entypo-loop:before { content: '\e895'; } 
.x-entypo-switch:before { content: '\e896'; }
.x-entypo-play:before { content: '\e897'; }
.x-entypo-stop:before { content: '\e898'; }
.x-entypo-pause:before { content: '\e899'; }
.x-entypo-record:before { content: '\e89a'; }
.x-entypo-to-end:before { content: '\e89b'; }
.x-entypo-to-start:before { content: '\e89c'; }
.x-entypo-fast-forward:before { content: '\e89d'; } 
.x-entypo-fast-backward:before { content: '\e89e'; }
.x-entypo-progress-0:before { content: '\e89f'; }
.x-entypo-progress-1:before { content: '\e8a0'; }
.x-entypo-progress-2:before { content: '\e8a1'; } 
.x-entypo-progress-3:before { content: '\e8a2'; } 
.x-entypo-target:before { content: '\e8a3'; } 
.x-entypo-palette:before { content: '\e8a4'; } 
.x-entypo-list:before { content: '\e8a5'; } 
.x-entypo-list-add:before { content: '\e8a6'; } 
.x-entypo-signal:before { content: '\e8a7'; } 
.x-entypo-trophy:before { content: '\e8a8'; } 
.x-entypo-battery:before { content: '\e8a9'; } 
.x-entypo-back-in-time:before { content: '\e8aa'; }
.x-entypo-monitor:before { content: '\e8ab'; }
.x-entypo-mobile:before { content: '\e8ac'; } 
.x-entypo-network:before { content: '\e8ad'; }
.x-entypo-cd:before { content: '\e8ae'; }
.x-entypo-inbox:before { content: '\e8af'; }
.x-entypo-install:before { content: '\e8b0'; } 
.x-entypo-globe:before { content: '\e8b1'; }
.x-entypo-cloud:before { content: '\e8b2'; } 
.x-entypo-cloud-thunder:before { content: '\e8b3'; }
.x-entypo-flash:before { content: '\e8b4'; }
.x-entypo-moon:before { content: '\e8b5'; }
.x-entypo-flight:before { content: '\e8b6'; } 
.x-entypo-paper-plane:before { content: '\e8b7'; }
.x-entypo-leaf:before { content: '\e8b8'; } 
.x-entypo-lifebuoy:before { content: '\e8b9'; }
.x-entypo-mouse:before { content: '\e8ba'; }
.x-entypo-briefcase:before { content: '\e8bb'; }
.x-entypo-suitcase:before { content: '\e8bc'; }
.x-entypo-dot:before { content: '\e8bd'; }
.x-entypo-dot-2:before { content: '\e8be'; }
.x-entypo-dot-3:before { content: '\e8bf'; } 
.x-entypo-brush:before { content: '\e8c0'; }
.x-entypo-magnet:before { content: '\e8c1'; }
.x-entypo-infinity:before { content: '\e8c2'; } 
.x-entypo-erase:before { content: '\e8c3'; } 
.x-entypo-chart-pie:before { content: '\e8c4'; } 
.x-entypo-chart-line:before { content: '\e8c5'; }
.x-entypo-chart-bar:before { content: '\e8c6'; } 
.x-entypo-chart-area:before { content: '\e8c7'; }
.x-entypo-tape:before { content: '\e8c8'; }
.x-entypo-graduation-cap:before { content: '\e8c9'; } 
.x-entypo-language:before { content: '\e8ca'; } 
.x-entypo-ticket:before { content: '\e8cb'; }
.x-entypo-water:before { content: '\e8cc'; }
.x-entypo-droplet:before { content: '\e8cd'; } 
.x-entypo-air:before { content: '\e8ce'; } 
.x-entypo-credit-card:before { content: '\e8cf'; }
.x-entypo-floppy:before { content: '\e8d0'; }
.x-entypo-clipboard:before { content: '\e8d1'; }
.x-entypo-megaphone:before { content: '\e8d2'; }
.x-entypo-database:before { content: '\e8d3'; }
.x-entypo-drive:before { content: '\e8d4'; }
.x-entypo-bucket:before { content: '\e8d5'; }
.x-entypo-thermometer:before { content: '\e8d6'; }
.x-entypo-key:before { content: '\e8d7'; } 
.x-entypo-flow-cascade:before { content: '\e8d8'; }
.x-entypo-flow-branch:before { content: '\e8d9'; }
.x-entypo-flow-tree:before { content: '\e8da'; }
.x-entypo-flow-line:before { content: '\e8db'; }
.x-entypo-flow-parallel:before { content: '\e8dc'; } 
.x-entypo-rocket:before { content: '\e8dd'; } 
.x-entypo-gauge:before { content: '\e8de'; }
.x-entypo-traffic-cone:before { content: '\e8df'; } 
.x-entypo-cc:before { content: '\e8e0'; }
.x-entypo-cc-by:before { content: '\e8e1'; }
.x-entypo-cc-nc:before { content: '\e8e2'; }
.x-entypo-cc-nc-eu:before { content: '\e8e3'; }
.x-entypo-cc-nc-jp:before { content: '\e8e4'; }
.x-entypo-cc-sa:before { content: '\e8e5'; } 
.x-entypo-cc-nd:before { content: '\e8e6'; } 
.x-entypo-cc-pd:before { content: '\e8e7'; } 
.x-entypo-cc-zero:before { content: '\e8e8'; } 
.x-entypo-cc-share:before { content: '\e8e9'; } 
.x-entypo-cc-remix:before { content: '\e8ea'; }
.x-entypo-github:before { content: '\e8eb'; } 
.x-entypo-github-circled:before { content: '\e8ec'; } 
.x-entypo-flickr:before { content: '\e8ed'; } 
.x-entypo-flickr-circled:before { content: '\e8ee'; } 
.x-entypo-vimeo:before { content: '\e8ef'; } 
.x-entypo-vimeo-circled:before { content: '\e8f0'; } 
.x-entypo-twitter:before { content: '\e8f1'; } 
.x-entypo-twitter-circled:before { content: '\e8f2'; } 
.x-entypo-facebook:before { content: '\e8f3'; } 
.x-entypo-facebook-circled:before { content: '\e8f4'; } 
.x-entypo-facebook-squared:before { content: '\e8f5'; }
.x-entypo-gplus:before { content: '\e8f6'; } 
.x-entypo-gplus-circled:before { content: '\e8f7'; } 
.x-entypo-pinterest:before { content: '\e8f8'; }
.x-entypo-pinterest-circled:before { content: '\e8f9'; }
.x-entypo-tumblr:before { content: '\e8fa'; } 
.x-entypo-tumblr-circled:before { content: '\e8fb'; }
.x-entypo-linkedin:before { content: '\e8fc'; }
.x-entypo-linkedin-circled:before { content: '\e8fd'; } 
.x-entypo-dribbble:before { content: '\e8fe'; } 
.x-entypo-dribbble-circled:before { content: '\e8ff'; } 
.x-entypo-stumbleupon:before { content: '\e900'; } 
.x-entypo-stumbleupon-circled:before { content: '\e901'; } 
.x-entypo-lastfm:before { content: '\e902'; } 
.x-entypo-lastfm-circled:before { content: '\e903'; } 
.x-entypo-rdio:before { content: '\e904'; } 
.x-entypo-rdio-circled:before { content: '\e905'; } 
.x-entypo-spotify:before { content: '\e906'; } 
.x-entypo-spotify-circled:before { content: '\e907'; } 
.x-entypo-qq:before { content: '\e908'; }
.x-entypo-instagram:before { content: '\e909'; }
.x-entypo-dropbox:before { content: '\e90a'; }
.x-entypo-evernote:before { content: '\e90b'; }
.x-entypo-flattr:before { content: '\e90c'; }
.x-entypo-skype:before { content: '\e90d'; }
.x-entypo-skype-circled:before { content: '\e90e'; }
.x-entypo-renren:before { content: '\e90f'; }
.x-entypo-sina-weibo:before { content: '\e910'; }
.x-entypo-paypal:before { content: '\e911'; }
.x-entypo-picasa:before { content: '\e912'; }
.x-entypo-soundcloud:before { content: '\e913'; }
.x-entypo-mixi:before { content: '\e914'; }
.x-entypo-behance:before { content: '\e915'; }
.x-entypo-google-circles:before { content: '\e916'; }
.x-entypo-vkontakte:before { content: '\e917'; }
.x-entypo-smashing:before { content: '\e918'; }
.x-entypo-sweden:before { content: '\e919'; }
.x-entypo-db-shape:before { content: '\e91a'; }
.x-entypo-logo-db:before { content: '\e91b'; }