// Variables
// --------------------------
$entypo-random-tag: #{random(9000) + 999}#{random(9000) + 999};
$entypo-font-path: '../fonts/entypo-icons';
$entypo-margin: 0.2em;


// Mixins
// --------------------------
@mixin entypo-class($center_comp: 'false', $font-size: 100%, $opacity: 1) {
  font-family: "entypo-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: #{$entypo-margin};
  text-align: center;
  @if $opacity != 1 {
    opacity: $opacity;
  }
  @if $font-size != 100% {
    font-size: $font-size;
  }
  /* Reset parent styles that may break glyph codes */
  font-variant: normal;
  text-transform: none;
  /* Fix buttons height for Bootstrap  */
  line-height: 1em;
  @if $center_comp == 'true' {
    /* Optional animation centre compensation  */
    margin-left: #{$entypo-margin};
  }
  /* Font smoothing … from Bootstrap  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Constant Defaults
// --------------------------
/*!
 *  Entypo Icons - http://www.entypo.com
 *  Copyright 2012 Daniel Bruce
 *  License - http://scripts.sil.org/OFL
 */

@font-face {
  font-family: 'entypo-icons';
  src: url('#{$entypo-font-path}.eot');
  src: url('#{$entypo-font-path}.eot?#iefix') format('embedded-opentype'),
       url('#{$entypo-font-path}.woff') format('woff'),
       url('#{$entypo-font-path}.ttf') format('truetype'),
       url('#{$entypo-font-path}.svg?#entypo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// CSS Data
// --------------------------
@import "entypo-flat";
@import "entypo-3d";
