{{!-- This is the base layout and will be used on every template page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen Cart Styler</title>
    
    <!-- build:main_css --><!-- endbuild -->
    <!-- build:custom_css --><!-- endbuild -->
    <!-- build:fonticon_css --><!-- endbuild -->

  </head>
  <body>
    {{!-- Pages created in the "src/pages" folder are inserted here when the flattened page is created. --}}
    {{> body}}
    
    <!-- build:jquery_js --><!-- endbuild -->
    <!-- build:jquery_fallback --><!-- endbuild -->
    <!-- build:jquery_migrate_js --><!-- endbuild -->
    <!-- build:jquery_migrate_fallback --><!-- endbuild -->
    <!-- build:main_js --><!-- endbuild -->
    <!-- build:plugin_js --><!-- endbuild -->
    <!-- build:demo_js --><!-- endbuild -->
    
  </body>
</html>