/* Font Resizing */
.size-01 { font-size: rem-calc(14); }
.size-02 { font-size: rem-calc(16); }
.size-03 { font-size: rem-calc(18); }
.size-04 { font-size: rem-calc(20); }
.size-05 { font-size: rem-calc(24); }
.size-06 { font-size: rem-calc(28); }
.size-07 { font-size: rem-calc(32); }
.size-08 { font-size: rem-calc(36); }
.size-09 { font-size: rem-calc(40); }
.size-10 { font-size: rem-calc(44); }
.size-11 { font-size: rem-calc(48); }
.size-12 { font-size: rem-calc(52); }
.size-13 { font-size: rem-calc(56); }
.size-14 { font-size: rem-calc(60); }
.size-15 { font-size: rem-calc(64); }
.size-16 { font-size: rem-calc(68); }
.size-17 { font-size: rem-calc(72); }
.size-18 { font-size: rem-calc(76); }
.size-19 { font-size: rem-calc(80); }
.size-20 { font-size: rem-calc(96); }
